.nav {
  background-color: rgba(0, 0, 0, 0.3);
  /* widthがコンテンツの最大の幅になる。便利。 */
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 5000;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

.nav a {
  background-color: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-lignt);
  font-size: 1.1rem;
}

/* hoverした時 */
.nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* クリックした時にアクティブがつく */
.nav a.active {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

/* ============== MEDIA QUERIES (SMALL DEVICES) 携帯サイズ ================= */
@media (max-width: 480px) {
  .nav a {
    padding: 0.7rem;
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .nav a {
    padding: 0.6rem;
    font-size: 0.9rem;
  }
}
